<a href="https://colab.research.google.com/github/ronupanchal/datascience_streamlit/blob/main/python_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

In [ ]:
#match Function
match = re.search(r'electronic', 'Computer is an electronic device')
print(match)
print(match.group())

print('Start Index:', match.start())
print('End Index:', match.end())

<re.Match object; span=(15, 25), match='electronic'>
electronic
Start Index: 15
End Index: 25

In [ ]:
# [] square brackets
txt = "The rain in Spain"
#Find all lower case characters alphabetically between "a" and "m":
x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
# \ backslash
txt = "That will be 59 dollars"
#Find all digit characters:
x = re.findall("\d", txt)
print(x)

['5', '9']

In [ ]:
# . dot
txt = "hello planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
# ^ caret
txt = "hello planet"
#Check if the string starts with 'hello':
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
# $ dollar
txt = "hello planet"
#Check if the string ends with 'planet':
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [ ]:
# * star
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

['hello']

In [ ]:
# + plus
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)

['hello']

In [ ]:
# ? Question Mark
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x = re.findall("he.?o", txt)
print(x)
#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o“

[]

In [ ]:
# { } Braces
txt = "hello planet"
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [ ]:
# | or
txt = "The rain in Spain falls mainly in the plain!"
#Check if the string contains either "falls" or "stays":
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [ ]:
# findall() function
#Return a list containing every occurrence of "ai":
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
# if no matches are found
txt = "The rain in Spain"
#Check if “India" is in the string:
x = re.findall("India", txt)
print(x)
if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
# search() function
txt = "The rain in Spain"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
# If no matches are found
txt = "The rain in Spain"
x = re.search("India", txt)
print(x)

None

In [ ]:
# split() function
#Split the string at every white-space character:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
# giving specific spli parameter
#Split the string at the first white-space character:
txt = "The rain in Spain"
x = re.split("\s", txt, 2)
print(x)

['The', 'rain', 'in Spain']

In [ ]:
# sub() function
#Replace all white-space characters with the digit "9":
txt = "The rain in Spain"
x = re.sub("\s", "7", txt)
print(x)

The7rain7in7Spain

In [ ]:
# giving specific count parameter
#Replace the first occurrences of a white-space character with the digit 9:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 1)
print(x)

The9rain in Spain

In [ ]:
# match object
#The search() function returns a Match object:
txt = "The rain in Spain"
x = re.search("pa", txt)
print(x)

<re.Match object; span=(13, 15), match='pa'>

In [ ]:
# .span()
#Search for an upper case "S" character in the beginning of a word, and print its position:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [ ]:
# .string
#The string property returns the search string:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
# .group()
#Search for an lower case “r" character in the beginning of a word, and print the word:
txt = "The rain in Spain"
x = re.search(r"\br\w+", txt)
print(x.group())

rain